EVENTHUB_KEY="Endpoint=sb://your-eventhub.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=YOUR_SECRET_KEY;EntityPath=your-eventhub-name"
MONGO_URI=mongodb://localhost:27017/
DB_NAME=YOUR_DBNAME